<h1>I Can Work On Pull Requests</h1>
<div>
  <p>
    Pull Request flags are issues that have been categorized but have yet to be resolved. Many of
    the important issues are handled by team members here at Angular, but you're more than welcome
    to help us out! If you are able to effectively resolve an issue you will be noted as a
    contributer in the next release, but more importantly you'll be a hero in our hearts.
  </p>
  <p>
    Below are some of the more recent issues Angular.js has had unresolved. Feel free to search
    for any issues you find interesting and explore.
  </p>
  <div>
    <div class="btn-group">
      <label>Search common type:</label>
      <button ng-click="prFlagsCtrl.query = 'gh: issue'">gh: issue</button>
      <button ng-click="prFlagsCtrl.query = 'frequency: moderate'">frequency: moderate</button>
      <button ng-click="prFlagsCtrl.query = 'type: bug'">type: bug</button>
      <button ng-click="prFlagsCtrl.query = 'high priority'">high priority</button>
    </div>
    <div>
      <span class="glyphicon glyphicon-search search-icon"></span>
      <input class="docs-search" ng-model="prFlagsCtrl.query" ng-change="prFlagsCtrl.updateList(prFlagsCtrl.query)" placeholder=" Search for issues ">
    </div>
  </div>
  <div>
    <ul>
      <li ng-repeat="issue in prFlagsCtrl.results | filter: prFlagsCtrl.query" class="item-listing">
        <!-- <div ng-include src="'questions/partials/github-list.html'"></div> -->
        <span>
          <a ng-href="{{issue['html_url']}}">{{issue['title']}}</a>
        </span>
        <div>
          <ng-pluralize count="{{issue.labels.length}}"
          when="{'0':'No Labels:','1':'Label:','other':'Labels:'}"></ng-pluralize>

          <div ng-show="!issue.labels.length">
            This issue has no labels, learn more about triaging issues
            <a ng-href="#questions/help-triage">here.</a>
          </div>
          <span ng-repeat='label in issue.labels'>
            <div ng-bind="label.name"></div>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="footer text-center">
  <ol class="breadcrumb">
    <li>
      <a class="inactive" href="#questions/i-want-to-help">I want to help
      </a>
    </li>
    <li>
      <a class="inactive" href="#questions/help-improve-angular">I want to help with Angular itself
      </a>
    </li>
    <li>
      <a class="active">I want to help with PR requests</a>
    </li>
   </ol>
</div>