<h1>I Can Help Support Components</h1>
<a href="//github.com/angular/i-want-to-help/pulls" class="ang-btn improve-docs">
  <span class="glyphicon glyphicon-edit"></span>
  Improve this doc
</a>
<div class="marginTop">
  <p>
    Getting involved with our team at Angular doesn't mean you can only contribute to Angular's open
    source. We have several components that Angular depends heavily upon. If you would like to
    contribute indirectly to us, check out some of these open source projects that interact with
    Angular.
  </p>
  <p>
    If you've been working on some of your own features to add to AngularJS, check out our pull request <a href="https://github.com/angular/i-want-to-help/pulls">page</a> on GitHub.
  </p>
  <br>
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li id="firstTab" ng-class="{active: supComponentsCtrl.currentComponent.haUrl == compCat.haUrl}" ng-repeat="compCat in supComponentsCtrl.componentCategories">
          <a ng-href="#questions/help-support-components/{{compCat.haUrl}}" data-toggle="tab">
            {{compCat.name}}
          </a>
        </li>
      </ul>
      <div class="row" style="padding: 5px 0px">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
            <li ng-class="{active: supComponentsCtrl.currentSubComponent.haUrl == subCompCat.haUrl}" ng-repeat="subCompCat in supComponentsCtrl.currentComponent.subComponentsCategories">
              <a class="offsetTab" ng-href="#questions/help-support-components/{{supComponentsCtrl.currentComponent.haUrl}}/{{subCompCat.haUrl}}">
                {{subCompCat.name}}
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <div ng-repeat="component in supComponentsCtrl.currentSubComponent.subComponents">
            <div style="font-size:20px">
              <a ng-href="{{component.url}}">{{component.name}}:</a>
            </div>
            <div>
              <p>{{component.description}}</p>
            </div>
            <hr ng-show="!$last">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer navbar-fixed-bottom">
  <div class="text-center">
    <ha-breadcrumbs breadcrumbs="[{url: '#questions/i-want-to-help', text: 'I want to help.'}, {url: '#questions/help-make-components', text: 'I want to help with components.'}, {url: '#questions/help-update-docs', text: 'I can help support components.'}]">
    </ha-breadcrumbs>
  </div>
</div>
